/* Base styles */
.signup-outer-container {
    height: 90vh;
    width: 100vw;
    background: hsl(218deg 50% 91%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-div {
    width: 30vw;
    max-width: 90%;
    min-width: 500px;
    background: hsl(209.4deg 100% 98.11%);
    border-radius: 30px;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.signup-heading-div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

.signup-form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-input {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    margin: 10px;
    outline: none;
    border: none;
    transition: box-shadow 0.3s ease;
}

.signup-form-input:focus {
    box-shadow: 0 0 0.5em hsl(233deg 36% 38%);
}

::placeholder {
    color: #999;
}

.signup-submit-div {
    display: grid;
    justify-content: center;
    align-items: center;
}

.signup-submit-button {
    width: 350px;
    padding: 1em;
    background: hsl(233deg 36% 38%);
    color: hsl(0 0 100);
    border: none;
    border-radius: 30px;
    margin: 20px;
    transition: background 0.3s ease, color 0.3s ease;
}

.signup-submit-button:hover {
    background: hsl(233deg 56% 48%);
}

.signup-signin-div {
    display: grid;
    justify-content: center;
    align-items: center;
}

.signup-signin-button {
    color: #464646;
    background: none;
    border: none;
    margin: auto;
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup-signin-button:hover {
    color: hsl(233deg 56% 48%);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .signup-div {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .signup-div {
        width: 95%;
    }
}
