
.verify-email-page-container {
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.verify-email-box-container {
    width: 50vw;
    min-width: 400px;
    height: 70vh;
    min-height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(155, 153, 153);
    border-radius: 30px;
}

.verify-email-inner-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.verify-email-header-outer-container{
    height: 20vh;
    min-height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.verify-email-header-inner-container{
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.verify-email-header-image-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.verify-email-image{
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.verify-email-header-inner-container h2 {
    font-family: system-ui;
    font-weight: bold;
    color: #333;
    font-size: 20px
}

.verify-email-input-container {
    height: 40vh;
    min-height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.verify-email-input-container input {
    width: auto;
    min-width: 200px;
    margin: 10px;
    box-shadow: 0 0 10px rgb(221, 220, 220);
    border-radius: 10px;
    padding: 10px;
}

.verify-email-input-container input {
    width: auto;
    min-width: 200px;
    box-shadow: 0 0 10px rgb(221, 220, 220);
    border-radius: 10px;
    padding: 10px;
}

.verify-email-input-container button {
    min-width: 100px;
    color: hsl(233deg 36% 38%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid hsl(233deg 36% 38%);
    margin: 20px 100px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .verify-email-input-container button:hover{
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: hsl(233deg 36% 38%);
  }
