.footer-main-div{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: sticky;
  bottom: 0%;
  z-index: 100;
  background: white;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2) ;
}

.buttons {
  color: black;
  margin: 10px;
  padding: 10px;
}

.SignInButton{
  display: grid;
  color: black;
  margin: 10px;
  padding: 10px;
}

.footer-login-logout-div{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
}

.footer-signin-signout-button{
  color: black;
  background-color: white;
  border: none;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: grid;
}

@media only screen and (max-width: 768px) {
  .footer-main-div{
    height: 50px;
  }
  .footer-signin-signout-button{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: grid;
  }
  
}