/* The sidebar menu */
.addproduct-sidebar-main-div {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color:  rgb(75,149,153);
    padding-top: 20px;
    display: grid;
    /* justify-content: center; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 768px) {
    .addproduct-sidebar-main-div {
      width: 0px;
    }

    .addproduct-sidebar-inner-div{
      width: 0px;
    }
  }

  .addproduct-sidebar-inner-div{
    margin: 25px;
    width: 20vw;
    overflow-x: hidden;
    word-wrap: break-word;
  }
  
  aside#asin-info h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  aside#asin-info p {
    font-size: 0.9rem;
    line-height: 1.5;
  }