.addproduct-container {
    height: 70vh;
    margin: 5vh;
    text-align: center;
    color: #333;
  }
  
  .addproduct-title {
    margin: 10vh;
  }
  
  .addproduct-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
  }
  
  .addproduct-label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .addproduct-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .addproduct-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .addproduct-container {
      z-index: 100;
      width: 100vw;
      height: 70vh;
      margin: 5vh;
      text-align: center;
      color: #333;
    }
  }
  