/* The sidebar menu */
.addproduct-sidebar-main-div {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color:  rgb(75,149,153);
    padding-top: 20px;
    display: grid;
    /* justify-content: center; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-height: 450px) {
    /* .addproduct-sidebar-div-1{ } */
  }

  .addproduct-sidebar-inner-div{
    margin: 25px;
    width: 20vw;
    overflow-x: hidden;
    word-wrap: break-word;
  }
  
/* 
  aside#asin-info {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 5px;
    position: fixed;  
    top: 10rem;  
    left: 1rem; 
    width: 200px;
    height: auto;
  }
   */
  aside#asin-info h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  aside#asin-info p {
    font-size: 0.9rem;
    line-height: 1.5;
  }