
.signin {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
  margin: 5px;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.signup {
  color: white;
  background-color: rgba(104, 85, 224, 1);
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addOrRemoveProducts{
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
  margin: 5px;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.addOrRemoveProducts:hover {
  color: white;
  /* width: 10px; */
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
  
.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.signin:hover, .signup:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}